h1 {
  font-family: 'Anton', sans-serif;
  color: chartreuse;
}

nav a {
  border-radius: 25px;
  margin: 0.5em;
  padding: 0.5em;
  background-color: #eeeeee;
  text-decoration: none;
  color: blue;
}

nav a:hover {
  background-color: blue;
  color: white;
}

.create-decade {
  border-radius: 25px;
  margin: 0.5em;
  padding: 0.5em;
  background-color: #eeeeee;
  text-decoration: none;
  color: blue;
}

li a {
  text-decoration: none;
}
